<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="https://cdn2.iconfinder.com/data/icons/school-22/100/school-go-09-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand" href="/">STUDENT RESOURCE SHARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Free Online Learning Centers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://www.khanacademy.org/">Khan Academy</a>
              <a class="dropdown-item" href="https://ocw.mit.edu/search/?s=department_course_numbers.sort_coursenum">MITOpenCourseWare</a>
              <a class="dropdown-item" href="https://www.uopeople.edu/">University of the People</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Open Source Textbooks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://open.umn.edu/opentextbooks">Open Textbook Library</a>
            <a class="dropdown-item" href="https://openstax.org/">OpenStax</a>
            <a class="dropdown-item" href="https://bookboon.com/en/textbooks">BookBoon</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.reddit.com/r/reddit.com/comments/cktxy/reddit_lets_compile_a_list_of_the_best_online/">More Resources</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light  my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>